<%#
  # Name: Xam Abados
  # Course: WEBD-3008 Full-Stack Web Development
  # Date Created: 10.04.2023
  # Project: Challenge 4 - Blog
%>

<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>
<%# renders partial file found in app/views/comments/_comments.html.erb %>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%# renders partial file found in app/views/comments/_form.html.erb %>
<%= render 'comments/form' %>
